.cardNews {
  padding-left: 1rem;
  padding-top: 2rem;
  max-height: 105rem;
  overflow: scroll;
}
.cardNews::-webkit-scrollbar {
  display: none;
}

.headline {
  padding-left: 1rem;
  font-size: 32px;
  padding: 10px;
  padding-right: 10px;
  border-top: 6px solid black;
  border-bottom: 2px solid black;
}

.headlineSection {
  float: left;
  width: 28%;
  padding-right: 10px;
  /* height: 75rem; */
}

.CardNews1 {
  max-height: 120rem;
}
