.recentSection {
  width: 25%;
  float: left;

  /* padding: 2rempx; */

  max-height: 113rem;
  overflow: scroll;
}
.recentSection::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .recentSection {
    margin-top: 400px;
    width: 100%;
    float: left;

    max-height: 90rem;
  }
}

.recentsTitle {
  color: #59bfff;
  font-size: 32px;
  padding: 10px;
  padding-left: 10px;
  border-top: 6px solid black;
  border-bottom: 2px solid black;
}
