.recentSection {
  width: 25%;
  float: left;
  /* padding: 2rempx; */

  max-height: 120rem;
  overflow: scroll;
}

.recentsTitle {
  font-size: 32px;
  padding: 10px;
padding-left: 10px;
border-top: 6px solid black;
border-bottom: 2px solid black;
}


