.main {
  margin: 25px;
  padding: 30px;
  width: 1200px;
  max-width: calc(100vw - 50px);
}
.blogTitle {
  font-size: 2.9rem;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}
.trendingTitle {
  font-size: 4.2rem;
  font-family: "Times New Roman", Times, serif;
}
.body {
  padding-top: 40px;
}

.blogPost {
  display: flex;
}
.rightSide {
  padding-top: 100px;
  padding-right: 900px;
}
.One {
  padding: 0px 40px 0px 40px;
  width: 25%;
  margin-top: 530px;
}
.Two {
  width: 50%;
}

.Three {
  padding-left: 20px;
  width: 25%;
}
.blogTitleContainer {
  font-size: 26px;
  padding: 30px 0px 0px 0px;
}
.lastTitleContainer {
  font-size: 26px;

  padding: 30px 0px 0px 0px;
  border-bottom: 4px solid black;
}
.lastTitle {
  font-size: 4.2rem;
  font-family: "Times New Roman", Times, serif;
}
.TrendingTitleContainer {
  font-size: 26px;

  padding: 30px 0px 0px 0px;
  border-bottom: 4px solid black;
}

.categoriesContainer {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.BlogContainer {
  align-items: center;
  padding-left: 40px;
  width: 45%;
}
.imgContainer {
  padding-top: 20px;

  margin-right: 20px;
  width: 100%;

  padding-bottom: 20px;
}
.infoContainer {
  display: flex;
  padding-top: 8px;
}

.authorImgs {
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.authorDate {
  display: flex;
}
.sharableLinks {
  display: flex;
}
.sharableLinks {
  width: 24rem;
  margin-top: 550px;
}
.shareText {
  padding: 3px 10px 0px 0px;
}
.shareIcon {
  padding: 3px;
}
.mainImage {
  width: 100%;

  max-height: 100%;
  max-width: calc(100vw - 50px);

  border-bottom: 4px solid black;
}

.body p {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 20px;
  color: rgb(56, 54, 54);
  line-height: 45px;
  letter-spacing: 1.5px;

  padding-bottom: 20px;
}

.body a {
  color: #2596be;
}

.body strong {
  font-weight: 1000;
}
.body h1 {
  font-size: 4rem;
  color: black;
  padding: 12px 0px 12px 0px;
  font-weight: 1000;
}
.body h2 {
  font-size: 3rem;
  color: black;
  padding: 12px 0px 12px 0px;
  font-weight: 1000;
}
.body h3 {
  font-size: 2.5rem;
  color: black;
  padding: 12px 0px 12px 0px;
  font-weight: 2000;
}

.body h4 {
  font-size: 2rem;
  color: black;
  padding: 12px 0px 12px 0px;
  font-weight: 1000;
}

.topicsTitle {
  font-size: 20px;
  border-top: 6px solid black;
  margin: 0rem 0rem 0rem 3.2rem;
  border-bottom: 2px solid black;
}
.relatedTopics {
  padding-bottom: 20px;
}
.blogSection {
  padding: 30px;
  display: flex;

  overflow-y: hidden;
  overflow-x: scroll;
}
.blogSection::-webkit-scrollbar {
  display: none;
}

.imageBlog {
  width: 300px;
}
.Blog {
  padding: 20px 20px 0px 0px;
  transition: transform 450ms;
}
.Blog:hover {
  transform: scale(1.08);
  opacity: 1;
}
