.r-card:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

.recents-card {
  padding-top: 2rem;
}
.date {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
  color: #2596be;
}

.category {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
  color: #2596be;
}

.author {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
  color: #2596be;
  padding-right: 8px;
}
