.r-card:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

.recents-card {
  padding-top: 2rem;
}
.date {
  font-size: 12px;
  color: blue;
}

.category {
  font-size: 12px;
  color: blue;
}

.author {
  font-size: 12px;
  color: blue;
  padding-right: 8px;
}
