.topnav {
  width: 100%;
  background-color: white;
  overflow: auto;
  padding: 35px;
}
.navbar a:hover {
  background-color: #000;
}
.navbar button:hover {
  background-color: #000;
}
.search-icon {
  padding-left: 3px;
}
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-link {
  padding: 10px;
}
.topnav-right {
  float: right;
}
.topnav-left {
  float: left;
}
.logo-img {
  margin: 0 auto;
  display: block;
  position: absolute;
  left: calc((100% - 370px) / 2);
  z-index: 100000;
  width: 350px;
  height: auto;
}
.button {
  background-color: #120b2b;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.header {
  border-bottom: 2px solid #e2e8f0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  float: left;
}
/* .hamburger {
  display: none;
} */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-left: 5rem;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}
.nav-link:hover {
  color: #482ff7;
}
.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .logo-img {
    width: 150px;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: calc((100% - 195px) / 2);
    z-index: 100000;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
