.lifeStyle-container {
  padding-top: 40px;
  padding-left: 30px;
}


@media only screen and (max-width: 768px) {
  .lifeStyleContainer,
  .lifeStyleSection,
  .lifeStyle-container,
  .lifeStyleHeader{
 
    width: 400px;
    padding-right: 0px;
    
  }
 
}


.lifeStyleHeader {
  font-size: 32px;
  padding: 10px;
  padding-right: 10px;
  margin-right: 80px;
  border-top: 6px solid black;
  border-bottom: 2px solid black;
}

.Date {
  font-size: 1.39rem;
  font-weight: 1500;
}

.lifeStyleSection {
  width: 25%;
  float: left;
  /* padding: 2rem; */
}

.lifeStyleContainer {
  font-size: 14px;
  float: left;
  /* width: 28%; */
  padding-right: 10px;
}
