.headerCryp {
  border-bottom: 2px solid #e2e8f0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerCrypto {
  overflow: hidden;
  overflow-x: scroll;
  height: 10vh;
  /* remove once ticker is working */
}

.hmove {
  display: flex;
}
.Crypto-Img {
  margin: 10px;
  width: 4rem;
  height: 4.2rem;

  border-radius: 50%;
}
.navMenu {
  width: 90px;
  object-fit: contain;
  transition: tranform 450ms;
  margin-right: 10px;
}
.navMenu:hover {
  transform: scale(1.08);
}
.navLink {
  height: 30px;
}
.crypto {
  object-fit: contain;

  /* either object-fit or flex-shrink */
  /* flex-shrink: 0; */
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

/* 
.navLink {
} */
.navMenu {
  display: flex;
  padding: 1rem 2.5rem;
}

@keyframes tickerh {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-400%, 0, 0);
  }
}
.hmove {
  animation: tickerh linear 45s infinite;
}
.hmove:hover {
  animation-play-state: paused;
}
