.split:after {
    content: "";
    display: table;
    clear: both;

}


.newsSplit{
    height: 1225px;
    margin-bottom: 5px;
}

.home {
    padding-left: 100px;
    padding-right: 100px;
}


.width{
    width: 25%
}


.split2{
    position: relative;
}


