.writers-container {
  padding-top: 32px;
}

.writers-Header {
  padding-bottom: 7px;
}

.WritersPContainer {
  display: flex;
}
.writers-author {
  padding-right: 10px;
}

.writers-p {
  font-family: "Times New Roman", Times, serif;
  color: #59bfff;
  font-size: 1.6rem;
}

.lifeStyleHeaders {
  font-size: 32px;
  padding: 10px;
  color: #26abff;
  margin-right: 55px;
  border-top: 6px solid black;
  border-bottom: 2px solid black;
}
.recentsTitleWriters {
  font-size: 32px;
  padding: 10px;
  color: #26abff;
  margin-right: 55px;
  border-top: 6px solid black;
  border-bottom: 2px solid black;
}

.writers-feed-title {
  width: 92%;
}

/* opl */

@media only screen and (max-width: 768px) {
  .writersFeed-section {
    width: 100%;
    padding-right: 0px;
  }
}
