.headerCryp {
  border-bottom: 2px solid #e2e8f0;
  padding-left: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerCrypto {
  overflow: hidden;
  overflow-x: scroll;
  height: 13vh;
  border-bottom: 2px solid #e2e8f0;
  
}

.Crypto-Img {
  margin: 10px;
  width: 4rem;
  height: 4.2rem;
  border-radius: 50%;
}
.navMenu {
  width: 90px;
  object-fit: contain;
  transition: tranform 450ms;
  margin-right: 10px;
}
.navMenu:hover {
  transform: scale(1.08);
}
.navLink {
  height: 30px;
}
.crypto {
  object-fit: contain;

  /* either object-fit or flex-shrink */
  /* flex-shrink: 0; */
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
  text-align: center;
}

.navMenu {
  display: flex;
  padding: 1rem 2.5rem;
}

@keyframes tickerh {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    
    transform: translate3d(-400%);
  }
}

@keyframes tickerh2 {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    
    transform: translate3d(-400%);
  }
}

.scroll {
  width: 100%;
  display: flex;
  animation: tickerh2 linear 40s infinite;

}
.hmove {
  animation: tickerh linear 40s infinite;
  animation-delay: -40s;
 
}
.hmove:hover {
  animation-play-state: paused;
}




section .scroll div:nth-child(2){
  animation: tickerh2 40s linear infinite;
  animation-delay: -20s;
}

section .scroll div{
  animation: tickerh2 40s linear infinite;
  
}